.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path {
	stroke-width: 2;
	fill: none;
}

.arc {
  stroke: #fff;
}

.tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.tip-value {
  font-weight: bold;
}
